In [39]:
import pyTigerGraph as tg
import pandas as pd

In [14]:
conn = tg.TigerGraphConnection(host='http://34.82.114.161', username='tigergraph', password='tigergraph', graphname='Cora')
conn

In [15]:
cora_secret ='qirl3bhnltjlk9igrnptf63ukme5h7h7'
OGBNProducts_secret ='unfbr77lr3kluimvf23bcovspt5ft7e1'

In [16]:
print(conn.gsql('ls', options=[]))

---- Graph Cora
Vertex Types:
- VERTEX Paper(PRIMARY_ID id INT, x LIST<INT>, y INT, train_mask BOOL, val_mask BOOL, test_mask BOOL) WITH STATS="OUTDEGREE_BY_EDGETYPE", PRIMARY_ID_AS_ATTRIBUTE="true"
Edge Types:
- DIRECTED EDGE Cite(FROM Paper, TO Paper)

Graphs:
- Graph Cora(Paper:v, Cite:e)
Jobs:
- CREATE LOADING JOB load_cora_data FOR GRAPH Cora {
DEFINE FILENAME edge_csv = "./edges.csv";
DEFINE FILENAME node_csv = "./nodes.csv";
LOAD node_csv TO VERTEX Paper VALUES($"id", SPLIT($"x", " "), $"y", $"train", $"valid", $"test") USING SEPARATOR=",", HEADER="true", EOL="\n";
LOAD edge_csv TO EDGE Cite VALUES($"source", $"target") USING SEPARATOR=",", HEADER="true", EOL="\n";
}

Queries:

In [17]:
token = conn.getToken(cora_secret)
token

('713ja1fk8q2o7q9a8viu75u05j3tupj4', 1648111773, '2022-03-24 08:49:33')

In [18]:
import xgboost as xgb

/opt/conda/lib/python3.8/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [24]:
dfv = conn.getVertexDataframe('Paper') # select='x,y', wher=''
print (dfv.shape)
dfv[:3]

(2708, 7)

,v_id,id,x,y,train_mask,val_mask,test_mask
0,431,431,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",4,False,True,False
1,2696,2696,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3,False,False,True
2,2486,2486,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3,False,False,True

In [31]:
dfv.id.unique().shape

(2708,)

In [35]:
conn.getEdgeTypes(), conn.getVertexTypes()

(['Cite'], ['Paper'])

In [42]:
dfe = pd.DataFrame(conn.getEdgesByType('Cite'))
print (dfe.shape)
dfe[:3]

(10556, 7)

  e_type from_id from_type to_id to_type  directed attributes
0   Cite    2109     Paper  1975   Paper      True         {}
1   Cite    2334     Paper  1725   Paper      True         {}
2   Cite    1996     Paper   327   Paper      True         {}

In [44]:
len(dfv.x[0]) # word dictionary

1433